# Node modules
node_modules/

# Log files
*.log

# Environment variables
.env

# VSCode configurations
.vscode/

# macOS specific files
.DS_Store

# Build outputs
dist/
build/

# Optional
.vscode/
.DS_Store
*.tgz
*.zip


# Optional
.vscode-test.mjs
.vscodeignore